PORT=4000
MONGO_URI=mongodb+srv://hal308366_db_user:9AH7cTySQUdFPPfv@cluster0.ddziond.mongodb.net/
FRONTEND_URL=http://localhost:5173
JWT_SECRET=supersecretkey
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=tu_user_mailtrap
EMAIL_PASS=tu_pass_mailtrap